<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QDDarkColorTheme</key>
	<dict>
		<key>apex_background</key>
		<string>#2C2C3B</string>
		<key>apex_background2</key>
		<string>#21212b</string>
		<key>apex_background3</key>
		<string>#282834</string>
		<key>apex_background4</key>
		<string>#29292f</string>
		<key>apex_background5</key>
		<string>#282834</string>
		<key>apex_background6</key>
		<string>#21212b</string>
		<key>apex_background7</key>
		<string>#252537</string>
		<key>apex_background8</key>
		<string>#282834</string>
		<key>apex_background9</key>
		<string>#253557</string>
		<key>apex_background10</key>
		<string>#FFFFFF</string>
		<key>apex_shareBackground</key>
		<string>#2c2c3a</string>
		<key>apex_share_text</key>
		<string>#7E829D</string>
		<key>apex_text</key>
		<string>#FFFFFF</string>
		<key>apex_text2</key>
		<string>#FFFFFF</string>
		<key>apex_text3</key>
		<string>#7E829D</string>
		<key>apex_text4</key>
		<string>#C4C9E9</string>
		<key>apex_text5</key>
		<string>#7E829D</string>
		<key>apex_text6</key>
		<string>#b4b4b8</string>
		<key>apex_text7</key>
		<string>#CDD5DF</string>
		<key>apex_text8</key>
		<string>#FFFFFF</string>
		<key>apex_text9</key>
		<string>#7E829D</string>
		<key>apex_text10</key>
		<string>#FFFFFF</string>
		<key>apex_line</key>
		<string>#25252F</string>
		<key>apex_line2</key>
		<string>#191A22</string>
		<key>apex_line3</key>
		<string>#21212B</string>
		<key>apex_line4</key>
		<string>#50565f</string>
		<key>apex_line5</key>
		<string>#50565f</string>
		<key>apex_tabbardef</key>
		<string>#CDD5DF</string>
		<key>apex_tabbarsel</key>
		<string>#387CFE</string>
		<key>apex_share</key>
		<string>dark_share</string>
		<key>apex_slide_home</key>
		<string>dark_slide_home</string>
		<key>apex_slide_data</key>
		<string>dark_slide_data</string>
		<key>apex_slide_news</key>
		<string>dark_slide_news</string>
		<key>apex_slide_products</key>
		<string>dark_slide_products</string>
		<key>apex_slide_aboutUs</key>
		<string>dark_slide_aboutUs</string>
		<key>apex_slide_settings</key>
		<string>dark_slide_settings</string>
		<key>apex_collectimage</key>
		<string>dark_collect</string>
		<key>apex_search</key>
		<string>dark_search</string>
		<key>apex_del</key>
		<string>dark_del</string>
		<key>apex_up</key>
		<string>dark_up</string>
		<key>apex_down</key>
		<string>dark_down</string>
		<key>list_dark2</key>
		<string>#0C1119</string>
		<key>color_black</key>
		<string>#000000</string>
		<key>background</key>
		<string>#0C1119</string>
		<key>color_block</key>
		<string>#151C2A</string>
		<key>topnav_background</key>
		<string>282834</string>
		<key>hover_background</key>
		<string>#253557</string>
		<key>list_light</key>
		<string>#21212B</string>
		<key>list_dark</key>
		<string>#282834</string>
		<key>red_text</key>
		<string>#FC3E30</string>
		<key>red_hover</key>
		<string>#CE3737</string>
		<key>red_disable</key>
		<string>#9A5F5F</string>
		<key>green_text</key>
		<string>#25CC4D</string>
		<key>green_button</key>
		<string>#1AC372</string>
		<key>green_hover</key>
		<string>#099050</string>
		<key>green_disable</key>
		<string>#628173</string>
		<key>active_text</key>
		<string>#76ABFF</string>
		<key>normal_text</key>
		<string>#FFFFFF</string>
		<key>text_gray</key>
		<string>#707070</string>
		<key>text_gray_2</key>
		<string>#9B9B9B</string>
		<key>text_gray_3</key>
		<string>#B9B9B9</string>
		<key>cell_separator</key>
		<string>#121725</string>
		<key>cell_blueSeparator</key>
		<string>#48689C</string>
		<key>gray_background</key>
		<string>#2F2F2F</string>
		<key>segment_bg</key>
		<string>#151619</string>
		<key>mainTextColor</key>
		<string>#FFFFFF</string>
		<key>mainCellColor</key>
		<string>#282834</string>
		<key>mainCellSeparator</key>
		<string>#191A22</string>
		<key>navigationBackGround</key>
		<string>#21212B</string>
		<key>navigationMenuImage</key>
		<string>menu</string>
		<key>navigationBackImage</key>
		<string>back</string>
		<key>navigationMessageImage</key>
		<string>Message</string>
		<key>navigationSettingImage</key>
		<string>Setting_new</string>
		<key>navigationDownImage</key>
		<string>drop_down</string>
		<key>cellMoreImage</key>
		<string>more_light</string>
		<key>mainViewBackGround</key>
		<string>#21212B</string>
		<key>apexStatementText</key>
		<string>#cccccc</string>
		<key>tradeBuyGreen</key>
		<string>#25CC4D</string>
		<key>tradeSellRed</key>
		<string>#FC3E30</string>
	</dict>
	<key>QDLightColorTheme</key>
	<dict>
		<key>apex_background</key>
		<string>#FFFFFF</string>
		<key>apex_background2</key>
		<string>#F2F3F6</string>
		<key>apex_background3</key>
		<string>#FFFFFF</string>
		<key>apex_background4</key>
		<string>#E2E3E6</string>
		<key>apex_background5</key>
		<string>#EEF0F5</string>
		<key>apex_background6</key>
		<string>#FFFFFF</string>
		<key>apex_background7</key>
		<string>#DFE2E7</string>
		<key>apex_background8</key>
		<string>#F2F3F6</string>
		<key>apex_background9</key>
		<string>#E7EAF0</string>
		<key>apex_background10</key>
		<string>#dee2ec</string>
		<key>apex_text</key>
		<string>#28282C</string>
		<key>apex_text2</key>
		<string>#28282C</string>
		<key>apex_text3</key>
		<string>#A09FA7</string>
		<key>apex_text4</key>
		<string>#78777F</string>
		<key>apex_text5</key>
		<string>#A09FA7</string>
		<key>apex_text6</key>
		<string>#565560</string>
		<key>apex_text7</key>
		<string>#28282C</string>
		<key>apex_text8</key>
		<string>#565560</string>
		<key>apex_text9</key>
		<string>#565560</string>
		<key>apex_text10</key>
		<string>#63626c</string>
		<key>apex_line</key>
		<string>#E1E1E1</string>
		<key>apex_line2</key>
		<string>#E1E1E1</string>
		<key>apex_line3</key>
		<string>#EBECED</string>
		<key>apex_line4</key>
		<string>#FFFFFF</string>
		<key>apex_line5</key>
		<string>#f2f3f6</string>
		<key>apex_tabbardef</key>
		<string>#A09FA7</string>
		<key>apex_tabbarsel</key>
		<string>#387CFE</string>
		<key>apex_shareBackground</key>
		<string>#FFFFFF</string>
		<key>apex_share</key>
		<string>light_share</string>
		<key>apex_slide_home</key>
		<string>light_slide_home</string>
		<key>apex_slide_data</key>
		<string>light_slide_data</string>
		<key>apex_slide_news</key>
		<string>light_slide_news</string>
		<key>apex_slide_products</key>
		<string>light_slide_products</string>
		<key>apex_slide_aboutUs</key>
		<string>light_slide_aboutUs</string>
		<key>apex_slide_settings</key>
		<string>light_slide_settings</string>
		<key>apex_collectimage</key>
		<string>light_collect</string>
		<key>apex_search</key>
		<string>light_search</string>
		<key>apex_del</key>
		<string>light_del</string>
		<key>apex_share_text</key>
		<string>#78777F</string>
		<key>apex_up</key>
		<string>light_up</string>
		<key>apex_down</key>
		<string>light_down</string>
		<key>color_black</key>
		<string>#FFFFFF</string>
		<key>background</key>
		<string>#F2F3F5</string>
		<key>color_block</key>
		<string>#FFFFFF</string>
		<key>topnav_background</key>
		<string>#F2F3F6</string>
		<key>hover_background</key>
		<string>#E5E6E8</string>
		<key>list_light</key>
		<string>#FFFFFF</string>
		<key>list_dark</key>
		<string>#F2F3F5</string>
		<key>list_dark2</key>
		<string>#E1E1E1</string>
		<key>red_text</key>
		<string>#FC3E30</string>
		<key>red_hover</key>
		<string>#CE3737</string>
		<key>red_disable</key>
		<string>#9A5F5F</string>
		<key>green_text</key>
		<string>#25CC4D</string>
		<key>green_button</key>
		<string>#5DB300</string>
		<key>green_hover</key>
		<string>#53960A</string>
		<key>green_disable</key>
		<string>#6D8355</string>
		<key>active_text</key>
		<string>#648AC7</string>
		<key>normal_text</key>
		<string>#151C2A</string>
		<key>text_gray</key>
		<string>#B9B9B9</string>
		<key>text_gray_2</key>
		<string>#9B9B9B</string>
		<key>text_gray_3</key>
		<string>#707070</string>
		<key>cell_separator</key>
		<string>#E4E3E6</string>
		<key>cell_blueSeparator</key>
		<string>#E4E3E6</string>
		<key>gray_background</key>
		<string>#FFFFFF</string>
		<key>segment_bg</key>
		<string>#E5E6E8</string>
		<key>mainTextColor</key>
		<string>#28282C</string>
		<key>mainCellColor</key>
		<string>#FFFFFF</string>
		<key>mainCellSeparator</key>
		<string>#E1E1E1</string>
		<key>navigationBackGround</key>
		<string>#FFFFFF</string>
		<key>navigationMenuImage</key>
		<string>menu_light</string>
		<key>navigationBackImage</key>
		<string>back_light</string>
		<key>navigationMessageImage</key>
		<string>Message_light</string>
		<key>navigationSettingImage</key>
		<string>Setting_new_light</string>
		<key>navigationDownImage</key>
		<string>drop_down_light</string>
		<key>cellMoreImage</key>
		<string>more</string>
		<key>mainViewBackGround</key>
		<string>#F2F3F6</string>
		<key>apexStatementText</key>
		<string>#78777F</string>
		<key>tradeBuyGreen</key>
		<string>#25CC4D</string>
		<key>tradeSellRed</key>
		<string>#FC3E30</string>
	</dict>
</dict>
</plist>
